@use 'sass:math';

@import '../../style/helpers/mixins';
@import '../../style/helpers/vars';
@import '../../style/helpers/functions';

.promo {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #fff;

	@media (min-width: 1440px) {
		min-height: 1244px;
		height: 100vh;
	}

	&__container {
		position: relative;
		display: flex;
		justify-content: center;
		flex: 1 1 auto;
		width: 100%;
		padding-bottom: 180px !important;

		@media (max-width: $tablet) {
			align-items: flex-end;
			min-height: 480px;
			padding-bottom: 20px !important;
			z-index: 1;
		}
	}

	&__layer-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::after {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			right: 0;
			height: percent(406, 1244);
			background: linear-gradient(
				to bottom,
				rgba(4, 10, 10, 0),
				rgba(4, 10, 10, 1)
			);
			z-index: 1;
		}

		@media (max-width: $tablet) {
			height: percent(480, 640);
		}
	}

	&__layer {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__layer-base {
		z-index: 0;
	}

	&__layer-front {
		z-index: 2;
	}

	&__signature {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 305px;
		height: 220px;
		object-fit: cover;
		z-index: 5;

		@media (max-width: $tablet) {
			width: 260px;
			height: 180px;
		}

		@media (max-width: $mobile) {
			width: 180px;
			height: 140px;
		}

		svg {
			fill: #1f3a3a;
		}
	}

	&__content {
		text-align: center;

		@media (min-width: $tablet) {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			flex: 1 1 auto;
			padding: 30% 0 0;
			z-index: 2;
		}

		@media (max-width: $mobileSmall) {
			max-width: 212px;
		}
	}

	&__title {
		position: absolute;
		@include adaptiveValue('top', 160, 80);
		left: 50%;
		transform: translateX(-50%);
		@include adaptiveValue('padding-left', 40, 10);
		font-family: 'Cormorant';
		font-weight: 300;
		line-height: 80%;
		letter-spacing: calc(1em / 5);
		text-align: center;
		font-size: var(--promo-title-size);
		z-index: 5;

		@media (min-width: #{$containerWidth}px) {
			font-size: 200px;
		}

		@media (max-width: $tablet) {
			position: fixed;
			top: calc(var(--promo-title-size) + 22px);
		}
	}

	&__title-back {
		top: 0;

		@media (max-width: $tablet) {
			top: 25px;
		}
	}

	&__text {
		max-width: 620px;
		margin: 0 auto;
		@include adaptiveValue('margin-bottom', 50, 20);
		@include adaptiveValue('font-size', 20, 14);
		line-height: percent(30, 20);
		letter-spacing: 1px;

		@media (max-width: $mobileSmall) {
			letter-spacing: 0;
		}
	}

	&__btn {
		padding: 16px 40px;
		background-color: #43ffd2;
		color: #000;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;

		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}

.contacts-panel {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@include adaptiveValue('gap', 160, 100, $containerWidth, 992);
	z-index: 6;

	@media (max-width: $tablet) {
		display: none;
	}

	&__social {
		margin: 60px 0 0;
		padding: 20px;
		border-radius: 10px;
		background-color: rgba(#000, 0.2);
	}

	&__actions {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 15px;
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		gap: 6px;
		padding: 10px 20px;
		border-radius: 10px;
		background-color: rgba(#000, 0.2);
		color: #43ffd2;
		white-space: nowrap;
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		text-transform: uppercase;

		svg {
			fill: #43ffd2;
			transition: fill 0.3s ease-in-out;
		}

		@media (any-hover: hover) {
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: #43ffd2;
				color: #fff;

				svg {
					fill: #fff;
				}
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		gap: 26px;
		text-align: right;
	}

	&__text-accent {
		display: block;
		text-transform: uppercase;
		color: #43ffd2;
		font-size: 14px;
		line-height: 21px;
	}

	&__text-light {
		font-size: 10px;
		line-height: 15px;
		text-transform: uppercase;
		color: #fff;
	}
}
