$fontFamily: 'Oswald';
$fontSize: 14;

$textColor: #000;

$maxWidthContainer: 1110;
$minWidth: 375;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
