@use 'sass:math';

@import '../../style/helpers/mixins';
@import '../../style/helpers/vars';

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #000;
	color: #fff;
	z-index: 3;
	transition: all 0.3s ease;

	&--transparent {
		position: relative;
		background-color: transparent;

		&.header--fixed {
			.header__contacts {
				display: none;
			}
		}

		@media (max-width: $tablet) {
			position: fixed;
		}

		.header__container {
			align-items: flex-start;
			gap: 0;
		}
	}

	&--fixed {
		position: fixed;
		background-color: #000;
		z-index: 3;

		.header__container {
			align-items: center;
			@include adaptiveValue('gap', 35, 25, $containerWidth, 992);
		}
	}

	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		min-height: 80px;
		@include adaptiveValue('gap', 35, 25, $containerWidth, 992);

		@media (max-width: $tablet) {
			align-items: center !important;
		}
	}

	&__nav {
		display: flex;
		align-items: stretch;
		flex: 1 1 auto;

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__row {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		flex: 1 1 auto;
		gap: 10px;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 20px;

		@media (max-width: 1200px) {
			padding: 0 10px;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	&__sub-link {
		display: flex;
		align-items: center;
		height: 100%;

		&::after {
			display: none;
		}

		@media (any-hover: hover) {
			&:hover + .sub-menu {
				display: flex;
			}
		}
	}

	&__logo-mobile {
		display: none;

		@media (max-width: $tablet) {
			display: inline-block;
			margin-right: -30px;
			font-family: 'Cormorant';
			font-size: 20px;
			font-weight: 300;
			line-height: 24px;
			text-transform: uppercase;
			text-align: center;
		}
	}

	&__logo {
		align-self: center;
		@include adaptiveValue('margin-right', 50, 25, $containerWidth, 992);
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__search {
		flex: 1 1 auto;
	}

	&__phone {
		display: inline-flex;
		align-items: center;
		gap: 10px;
		color: #43ffd2;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 2px;

		svg {
			fill: #43ffd2;
		}

		@media (max-width: $tablet) {
			display: none;
		}

		@media (any-hover: hover) {
			span,
			svg {
				transition: all 0.3s ease;
			}

			&:hover {
				span {
					color: #fff;
				}

				svg {
					fill: #fff;
				}
			}
		}
	}

	&__menu-btn {
		display: none;
		@media (max-width: $tablet) {
			display: block;
			position: relative;
			width: 20px;
			height: 11px;
			z-index: 5;
			@media (any-hover: none) {
				cursor: default;
			}
			span,
			&::before,
			&::after {
				content: '';
				transition: all 0.3s ease 0s;
				right: 0;
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: #43ffd2;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			span {
				top: calc(50% - toRem(1));
			}
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		gap: 26px;
		padding-top: 13px;
		text-align: right;
		opacity: 1;
		transition: opacity 0.3s ease;

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__contacts-hidden {
		position: relative;
		opacity: 0;
		width: 0;
		z-index: -1;
	}

	&__contacts-item {
		width: 265px;
	}

	&__contacts-text--accent {
		display: block;
		text-transform: uppercase;
		color: #43ffd2;
		font-size: 14px;
		line-height: 21px;
	}

	&__contacts-text--light {
		font-weight: 300;
		font-size: 10px;
		line-height: 15px;
		text-transform: uppercase;
		color: #fff;
	}
}

.sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	flex-direction: column;
	gap: 4px;
	max-width: 300px;
	padding: 10px 20px;
	background: rgba(0, 0, 0, 0.2);

	@media (any-hover: hover) {
		&:hover {
			display: flex;
		}
	}
}
